# Fundamental Concepts in Data Insight: 
## <font color=indigo> Demo: Relational Data &amp; SQL </font>

### Fundamentals for a General Audience

---

QA Ltd. owns the copyright and other intellectual property rights of this material and asserts its moral rights as the author. All rights reserved.

In [2]:
import sqlite3
import pandas as pd

db = sqlite3.connect(":memory:")
query = db.cursor()

---

## How do you define data schema?

```sql
CREATE TABLE evidence (
  EvidenceID INT PRIMARY KEY,
  Value FLOAT,
  Category TEXT,
  Report TEXT,
  Department TEXT
);
```

In [3]:
query.execute("""

CREATE TABLE evidence (
  EvidenceID INT PRIMARY KEY,
  Value FLOAT,
  Category TEXT,
  Report TEXT,
  Department TEXT
);

""")

## How do you insert data?

```sql
INSERT INTO evidence VALUES
(1, 1000, "Money", "Found at X, Person Y", "Vice"),
(2, 2500, "Money", "Found at A, Person Y", "Vice"),
(3, 500, "Weapons", "Found at B, Person Z", "Terrorism");
```

In [4]:
query.execute("""

INSERT INTO evidence VALUES
(1, 1000, "Money", "Found at X, Person Y", "Vice"),
(2, 2500, "Money", "Found at A, Person Y", "Vice"),
(3, 500, "Weapons", "Found at B, Person Z", "Terrorism");

""")

## How do you query for data?

```sql
SELECT * 
FROM evidence
```

In [5]:
pd.read_sql("SELECT * FROM evidence", db)

   EvidenceID   Value Category                Report Department
0           1  1000.0    Money  Found at X, Person Y       Vice
1           2  2500.0    Money  Found at A, Person Y       Vice
2           3   500.0  Weapons  Found at B, Person Z  Terrorism

## How do you peform analytical queries?

In [6]:
pd.read_sql("""

SELECT Category, AVG(Value) 
FROM evidence
GROUP BY Category

""", db)

  Category  AVG(Value)
0    Money      1750.0
1  Weapons       500.0

---

In [ ]:
db.close()

---